ion-toolbar {
  --padding-bottom: 0 !important;
  --padding-end: 0 !important;
  --padding-start: 0 !important;
  --padding-top: 0 !important;
  --background: #954fba;
  padding: 0 !important;
  height: 80px;
  ion-title{
    font-family: var(--ion-font-bold);
    margin-top: 15px;
  }
}


ion-content{
  --ion-background-color:#fff;
  --font-family: var(--ion-font-family);
  --color: #954fba;
}

.icon-class{
  margin-top: 20px;
}

.b-class{
  margin-top: 10px;
}

.avatar-center{
  margin: auto !important;
  margin-top: 50px !important;
  z-index: 1000;
  border: 1px #954fba solid;
}

ion-card{
  --background: #954fba;
  --color: white;
  min-height: 80px;
  padding-top: 50px;
  padding-bottom: 20px;
  max-width: 80%;
  margin: auto !important;
  margin-top: -50px !important;
  font-family: var(--ion-font-family);
  z-index: -10;
  text-align: center !important;
}

hr{
  height: 1px;
  background-color: #ccc;
  border: none;
}

.flex-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--ion-font-bold);
}

ion-item{
  --background: #954fba;
  text-align: center;
}

.label-class{
  font-family: var(--ion-font-bold) !important;
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

ion-avatar {
  width: 120px;
  height: 120px;
}

ion-chip{
  height: 125px;
  min-width: 250px;
  font-family: var(--ion-font-bold) !important;
}

.ref-class{
  color: white !important;
}

.github-link{
  margin-top: 50px;
}


.card-class { animation: fadeIn 2s; }
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
